autodist.dist
autodist.log
makedist.log
Makefile
Makefile.in
Makefile.defines
Makefile.defines_int
acconfig.h
aclocal.m4
autom4te.cache
autom4te-*.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
configure.ac
libtool
libtool-shared
ltconfig
ltmain.sh
stamp-h*
stamp-h*.in
*.o
*.lo
*.la
TAGS
